.navbar-brand {
    font-family:Arial, Helvetica, sans-serif;
   
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container-centered {
    display: flex; flex-direction: column;align-items: center;gap: 10px;
}
.card-header {
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header h2 {
    font-size: 20px;
    margin: 0;
}
.date {
    float: right;
    margin: 0;
}
.card-title {
    font-size: 15px;
}
.card-text {
    font-size: 12px;
}